.custom-btn-red {
    background-color: red;
    border-color: red;
    color: white;
  }
  
  .custom-btn-green {
    background-color: #14C3A2;
    border-color: #14C3A2;
    color: white;
  }
  .centrar{
    justify-content: left;
    text-align: center;
    
    color: #14C3A2;
  }
  