/* Ajustes responsivos generales */
.card {
  border-radius: 6%;
  max-width: 400px; /* Máximo ancho en pantallas grandes */
  width: 100%; /* Usar todo el ancho en móviles */
  padding: 1rem; /* Ajustar el espaciado en dispositivos pequeños */
  background-color: #F6F5F5;
}

.form-label {
  font-size: 1.2rem;
  color: var(--color-gris);
}

.form-check-label {
  font-size: 0.9rem;
  color: var(--color-gris);
}

.btn-success {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-verde);
  border-color: var(--color-verde);
}

input.form-control {
  max-width: 100%; /* Expandir para pantallas pequeñas */
  margin: 0 auto;
  padding: 0.5rem;
}

img {
  width: 75%; /* Imagen adaptativa */
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

small {
  color: #6c757d;
  font-size: 0.9rem;
  text-align: center;
  display: block;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 576px) {
  .form-label {
    font-size: 1rem;
  }

  .form-check-label {
    font-size: 0.8rem;
  }

  .card {
    padding: 1.5rem;
    border-radius: 10px;
  }

  img {
    width: 100%; /* Imagen ajustada al contenedor */
  }

  .btn-success {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
