.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*vista reportes semarnat*/

.footer-logo {
  width: 100px;
  height: auto;
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.social-image {
  width: 32px;
  height: 32px;
}


.text-blue {
  color: rgb(55, 177, 221);
  font-size: 1.2em;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}

.barra_inferior {
  background-color: #14C3A2;
}



/*vista reportes semarnat*/
