.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.login-box {
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 135px;
  border-radius: 10px 10px 0 0;
  margin-left: 120px;
}

.position-relative {
  position: relative;
  margin-bottom: 30px;
}

.session-title {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: white;
  font-weight: bold;
  display: inline-flex;
  gap: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.iniciar-text {
  color: #6C757D;
}

.form-check-label {
  font-size: 12px;
  color: #6C757D;
}
/*Texto de correo y contraseña*/
.block-label {
  display: block;
  margin-bottom: 9px;
}

.form-label, small {
  font-size: 24px;
  color: #595B5A;
}

.text-center small {
  font-size: 16px;
  color: #6C757D;
}
.formulario{
  margin-top: -19px;
}
.calculadora{
  margin-top: -10px;
  display: block;
}

.mostrar{
  margin-top: -19px;
  margin-left: -100px;
}

.ingresar{
  margin-top: 20px;
}

.invitado{
  margin-top: 20px;
}
.btn-success {
  background-color: #14C3A2;
  border-color: #14C3A2;
  color: white;
  font-weight: 800;
  text-align: center;
}

.rounded-input {
  border-radius: 5px;
  padding: 3px;
  font-size: 18px;
  margin-bottom: 19px;
}


/*------------------------------FOOTER--------------------------------------*/

.footer {
  background-color: #ffffff; 
  color:#595B5A; 
  padding: 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo h1 {
  font-size: 2em;
  margin: 0;
}

.footer-logo p {
  margin: 5px 0;
}

.footer-contact{
  flex: 1;
  margin-left: 80px;;
}
.footer-socials{
  flex:1;
  margin-left: 230px;
}

.footer-socials .social-links a {
  margin-right: 10px;
  color: #6C757D;
  text-decoration: none;
}

.footer-bottom {
  background-color: #14C3A2;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 1.5em;
}
/*liena de footer*/
.footer-line {
  height: 2px; 
  background-color: #A5B4FC; 
  margin: 10px 0; 
}

.footer-socials .social-images img {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
  margin-left:20px; 
}

.footer-socials .social-images .instagram {
  margin-left: 42px; 
}

.footer-socials .social-images .whatsapp {
  margin-left: 50px; 
}

.footer-socials .redes-socials{
  margin-left: 40px;
}
.footer-contact p {
  margin: 2px 0; 
  white-space: nowrap;
}
.footer-contact h3{
  margin-left: 100px;
}

.footer-logo img {
  width: 100px; 
  height: 140px; 
  margin-right: 10px; 
  margin-left: 40px;
}

